body {
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: #333;
    background: #def;
}

table, th, td {
    border: 1px solid black;
    }
    th, td {
            padding: 15px;
    }

p {
    margin: 8px 40px 8px 40px;
}

hr {
    margin: 24px 160px 24px 160px;
}

blockquote {
    margin: 8px 64px 8px 64px;
    font-size: 18px;
}

ol, ul, dl, li {
    margin: 20px 12px 8px 12px;
}

p {
    padding: 0;
    line-height: 140%;
}

h1,h2,h3,h4,h5 {
    font-weight: bold;
}

h1 {
    margin: 28px 8px 24px 8px;
    text-align: center;
    font-weight: 300;
    font-size: 32px;
    background-color: #063;
    color: #fcc;
}

h2 {
    font-size: 26px;
    margin: 20px 24px 12px 24px;
    color: #903;
}

h2.subhead {
    font-weight:
    normal;
    margin-top:
    0;
}

h3 {
    font-size: 22px;
    margin: 20px 32px 12px 32px;
    color: #336;
    font-weight: bold;
}

h4 {
    font-size: 18px;
    margin: 16px 40px 12px 40px;
    color: #339;
    font-weight: bold;
}

