body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    color: #333;
    background: #def;
}

#header {
    width: auto;
    height: 3em;
    padding: .5em 2em;
    line-height: 2em;
    background-color: #045;
    color: #dff;
    overflow: hidden;
}

#header a:link, #header a:visited {
    color: #fcc;
}

#header a:focus , #header a:hover {
    text-decoration: underline;
}

table, th, td {
    border-collapse: collapse;
    border: 1px solid black;
    }
    th, td {
            padding: 15px;
    }

p {
    margin: .4em 3em .4em 3em;
}

hr {
    margin: 1.2em 22em 1.2em 22em;
}

blockquote {
    margin: .4em 64px .4em 64px;
    font-size: 1.4em;
}

ol, ul, dl, li {
    margin: 1em 3em .4em 3em;
}

p {
    padding: 0;
    line-height: 140%;
}

h1,h2,h3,h4,h5 {
    font-weight: bold;
}

h1 {
    margin: 0px 0px 1.2em 0px;
    padding-bottom: 1.2em;
    text-align: center;
    font-weight: 300;
    font-size: 32px;
    background-color: #045;
    color: #fcc;
}

h2 {
    text-align: center;
    font-size: 1.3em;
    margin: 32px 1.2em .6em 1.2em;
    color: #903;
}

h2.subhead {
    font-weight:
    normal;
}

h3 {
    font-size: 1.1em;
    margin: 1em 1.4em .6em 1.4em;
    color: #137;
    font-weight: bold;
}

h4 {
    font-size: 1.4em;
    margin: .8em 1.6em .6em 1.6em;
    color: #339;
    font-weight: bold;
}

figure {
    text-align: center;
}

figcaption {
    color: #606;
    font-style: italic;
    text-align: center;
    margin: .8em 1em .6em 1em;
}

table {
    margin: 1em 12em 1em 12em;
}

table, th, td {
    border: 1px solid black;
    }
    th, td {
            padding: 15px;
    }

td {
    background: #fff;
}

th {
    background: #dcf;
}

div.homework {

}

div.other {

}

summary.sum1 {
    font-size: 1.5em;
    color: #903;
    margin: .8em 1.2em .8em 1.2em;
}

summary.sum2 {
    font-size: 1.3em;
    color: #137;
    margin: .6em 1.2em .6em 2em;
}

summary.sum3 {
    font-size: 1.1em;
    color: #339;
    margin: .4em 1.2em .4em 2.8em;
}

summary.sum4 {
    font-size: 1em;
    color: #903;
    margin: .4em 1.2em .4em 2.8em;
}

.lead_illus {
    text-align: center;
}

#logo {
    float: left;
}

#user-tools {
    float: right;
    padding: 0;
    margin: 0 0 0 1em;
    font-weight: 300;
    font-size: .8em;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    text-align: right;
}

